@import '../../styles/generics.scss';

$grayDark: #818181;
$grayLight: #dbdbdb;
$grayMedium: #aeaeae;

$greenLight: #849a8e;

.product-page {
  display: flex;
  margin-top: 50px;
  color: $textColor;

  .shop-actions {
    width: 100%;
  }

  .product-information {
    margin-right: 35px;
    p {
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;

      &:last-child {
        color: $mainColor;
      }
    }
  }
  .product-name {
    @include textBig();
    margin-bottom: 20px;
  }
  .purchase-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      padding: 0 5px;
      color: $grayDark;
      margin: 15px 0 5px -40px;
    }

    .purchase-type {
      padding: 10px 10px;
      border-radius: 7px;
      border: solid 1px #fff;
      &.selected {
        border: solid 1px $grayLight;

        label {
          color: $textColor;
        }
      }
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: $mainColor;
      &:hover {
        text-decoration: underline;
      }
    }

    .purchase-actions {
      width: 65%;
    }

    .product-details {
      margin-top: 50px;
      border: solid 1px $grayLight;
      border-radius: 7px;
      padding: 10px 15px;
      width: 100%;

      div {
        padding: 7px 0;
      }

      span {
        color: $greenLight;
        margin: 0 8px 0 5px;
      }
    }
  }
  .product-price {
    @include textBig();
    color: $mainColor;
    width: 35%;
  }
  label {
    position: relative;
    padding-left: 35px;
    color: $grayMedium;
    cursor: pointer;
    display: inline-block;
  }
  input {
    &[type='radio'] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:focus {
        & + span {
          box-shadow: 0 0px 1px 2px #0079ff;
        }
      }
      &:checked {
        & ~ .radiobutton {
          &::after {
            background-color: lighten($mainColor, 16);
          }
        }
      }
    }
  }
  .radiobutton {
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
    }
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: $grayLight;
    border-radius: 50%;
  }

  button {
    &:hover {
      background-color: lighten($mainColor, 3);
    }
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: $mainColor;
    border-radius: 4px;
    padding: 8px 0;
    margin-top: 35px;
  }
}
