@import '../../styles/generics.scss';

$headerHeight: 64px;
$shopHeaderHeight: 92px;
$footerHeight: 380px;

$totalHeight: $headerHeight + $shopHeaderHeight + $footerHeight;

.product-page {
  display: flex;
  padding-top: 50px;
  color: $grayDark;
  min-height: calc(100vh - $totalHeight);
  box-sizing: border-box;

  .shop-actions {
    width: 100%;
  }

  .product-information {
    margin-right: 35px;
    p {
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;

      &:last-child {
        color: $mainColor;
      }
    }
  }
  .product-name {
    @include textBig();
    margin-bottom: 20px;
  }
  .purchase-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      padding: 0 5px;
      color: $grayMediumDark;
      margin: 15px 0 5px -40px;
    }

    a {
      text-decoration: none;
      color: $mainColor;
      &:hover {
        text-decoration: underline;
      }
    }

    .purchase-actions {
      width: 65%;
    }

    .product-details {
      margin-top: 50px;
      border: solid 1px $grayLight;
      border-radius: 7px;
      padding: 10px 15px;
      width: 100%;

      div {
        padding: 7px 0;
      }

      span {
        color: $greenLight;
        margin: 0 8px 0 5px;
      }
    }
  }
  .product-price {
    @include textBig();
    color: $mainColor;
    width: 35%;
  }

  button {
    &:hover {
      background-color: lighten($mainColor, 3);
    }
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: $mainColor;
    border-radius: 4px;
    padding: 8px 0;
    margin-top: 35px;
  }
}
