
.card {
    padding: 8px;
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
}

.wcagReport section {

}

.wcagReport .label {
    background-color: #a70;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    text-transform: uppercase;
}

.wcagReport blockquote {
    margin: 0;
    background-color: #f8f8f8;
    border-left: 5px solid #a70;
    padding: 4px 8px;
}

.wcagReport .icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f00;
    color: #fff;
    /*padding: 4px;*/
    margin: 0 8px 0 0;
    font-weight: 700;
}
