@import '../../styles/generics.scss';

footer {
  background-color: $grayDark;
  height: 380px;
  padding-top: 55px;
  box-sizing: border-box;
  color: white;

  .container {
    border-top: solid 1px white;
    display: flex;
    justify-content: space-between;
  }
  .product-text {
    font-size: 1.1em;
    white-space: break-spaces;
    line-height: 1.3em;
  }
  nav {
    display: flex;
    margin-top: 30px;

    ul {
      padding: 0;
      list-style: none;
      padding-right: 90px;

      li {
        margin-bottom: 25px;
        &:first-child {
          a {
            color: $mainColor;
          }
        }
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
